@media all and (min-width: 1151px) {
  body{
    min-height: 1100px; /*to fix home page display in wide screen desktops */
  }
}
a:link {
    text-decoration: none;
	color: #999;
}

a:visited {
    text-decoration: none;
	color: #999;
}

a:hover {
    text-decoration: none;
	color: #444;
}

a:active {
    text-decoration: underline;
	color: #999;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	margin-bottom: 20px;
	margin-top: 40px;
	background-color: #ccc;
	background: -moz-linear-gradient(#ccc,#eee,#fff); /* For Firefox 3.6 to 15 */
	background: -webkit-linear-gradient(#ccc,#eee,#fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ccc,#eee,#fff); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(#ccc,#eee,#fff); /* Standard syntax */
	
}

#wrapper { 
	width: 960px;
	color: #827F7F;
	background: #D7F7DF url(../images/body_bg.png) no-repeat right top;
	margin: 0 auto;
	box-shadow: 0.2em 0.2em 0.2em #333;
}

header{ 
	background: -moz-linear-gradient(#ccc,#D7F7DF); /* For Firefox 3.6 to 15 */
	background: -webkit-linear-gradient(#ccc,#D7F7DF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ccc,#D7F7DF); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(#ccc,#D7F7DF); /* Standard syntax */
	padding: 20px;	 
	overflow: hidden;	
}

header h1 { 
	font: bold 2.3em "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	color: #444;
	margin: 0;
	padding: 20px;
	text-shadow: 0.05em 0.05em 0.05em #333;
	background: url(../images/arrow.png) no-repeat right;
	width: 390px;
	float: right;
}

section h3 {
	color: #969393;
	text-shadow: 0.03em 0.03em 0.03em #333;	
	background: url(../images/arrow_small.png) no-repeat right;
}

nav { 
	padding: 20px;
	overflow: hidden;	
}

nav a {
	text-decoration: none;
	color: #444;
}

nav ul li {
	margin: 0;
	padding:0;
	float: left;
	list-style-type: none;
	
}

nav ul {
	
	margin-left: 200px;
}	

nav li a {
		text-decoration: none;
		display: block;
		border: 1px solid #999;
		border-radius: 10px;
		padding: 10px;
		margin-right: 40px;
		box-shadow: 0.1em 0.1em 0.1em #333;
		color: #ccc;
		text-shadow: 0.05em 0.05em 0.05em #333;

}

nav li a:hover {
	background: #fff;
	color: #444;
}



#main {
	overflow: hidden;
	padding: 20px;
	
}

blockquote {
	float: left;
	width: 450px;
	line-height: 1.5em;
	font-size: 1.2em;
	padding-top: 20px;
	
}

figure{
	float: right;
	width: 300px;
	margin-right: 50px;
	margin-top: 30px;

}

img  {
		display: block;
		margin:0 auto;
		border-radius: 20px;

}

figcaption {
	font-family: Georgia, "Time New Roman", serif; 
	text-align: center;
	font-size: .8em;
	color: #999;
	padding: 10px;
	text-shadow: 0.1em 0.1em  #333;	
}



/* About page styles */

.left, .center, .right {
	width: 280px;
	border-radius: 10px;
	float: left;
	padding: 15px;
	min-height: 650px;
	background: -moz-linear-gradient(#F5F5F5, #D7F7DF);  /* For Firefox 3.6 to 15 */
	background: -webkit-linear-gradient(#F5F5F5, #D7F7DF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F5F5F5, #D7F7DF); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(#F5F5F5, #D7F7DF); /* Standard syntax */    	
	box-shadow: 0.1em 0.1em 0.1em #333;
}

.left, .center {
	margin-right: 10px;
}

.left, .center, .right {
	min-height: 700px;
}

.left {
	margin-left: 4px;
}

.left ul li {
	line-height: 1.2em;
	font-size: 1.1em;
	padding: 5px;
}

section ul li {
	list-style-image: url(../images/bullet.png)
}

.right p, .left p {
	line-height: 1.4em;
}

.right ul li {
	line-height: 1.2em;
	font-size: 1.1em;
	padding: 3px;
}

.content {
	display: none; /*to hide content for JQuery expand/collapse */
}

/* To call JQuery expand */
.center a {
		text-decoration: none;
		color: #999;
		padding: 0;
		margin: 0;
}


.title {
	font-weight: bold;
}

/* End about page styles */

/*Portfolio page styles */


.example_01 {
	width: 290px;
	float: left;
	margin-left: 3.1em;
}

.example_02 {
	width: 290px;
	float: left;
}

.example_03 {
	width: 290px;
	float: left;
}

.portfolio h5 a{
	font: bold 1.1em Verdana, Arial, sans-serif;
	text-shadow: none;
	color: #444;
	
}

.portfolio p {
	font: normal .9em/180% Georgia, "Times New Roman", serif;
	color: #444;
	text-shadow: none;
	text-align: left;
	width: 80%;
	padding-left: 40px;	
}

/*End Portfolio styles */

/* Contact styles */


label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

form {
    margin:0 auto;
    width:459px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 30px;
	background: -moz-linear-gradient(#ccc,#D7F7DF); /* For Firefox 3.6 to 15 */
	background: -webkit-linear-gradient(#ccc,#D7F7DF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ccc,#D7F7DF); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(#ccc,#D7F7DF); /* Standard syntax */
	
}

.data, textarea {
    width:425px;
    height:15px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    border-radius:10px;
}

textarea {
	height: 215px;
}	

input:focus, textarea:focus {
    background: #F5F7BE;
	border: 1px solid #999;
}

#submit {
    cursor:pointer;
	margin-top: 20px;
}
	
/* End Contact Styles */

/*Footer styles */

aside {
	padding: 15px;
}


.col4 {
	width: 185px;
	margin-right: 20px;
	min-height: 150px;
	float: left;
	border-radius: 10px;
	box-shadow: 0.1em 0.1em 0.1em #333;
	background: -moz-linear-gradient(#F5F5F5, #D7F7DF);	/* For Firefox 3.6 to 15 */
	background: -webkit-linear-gradient(#F5F5F5, #D7F7DF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F5F5F5, #D7F7DF); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(#F5F5F5, #D7F7DF); /* Standard syntax */
}	


footer.row {  
	background: #D7F7DF;
	font-size: 0.9em;
	width: 920px;
	overflow: hidden;
	padding: 20px;
	margin-top: 20px;
}

footer h3 {
	background: url(../images/arrow_small_footer.png) no-repeat right;
}

footer a {
	text-decoration: none;
	color: #999;
}

footer a:hover {
	font-weight: bold;
}

footer ul li {
	float: none; /* turns off top nav float */
	list-style: none;
	line-height: 1.5em;
	
}


.last {
	margin-right: 0;
}






	 